body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

.logo{
    font-weight: bold;
    color: white;
}

.nav-links {
    padding: auto;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    display: flex;
    margin: 0 10px;

}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    color: white;
    padding: 40px 30px;
}

.hero-left {
    display: flex;
    flex-basis: 350px;
    flex-direction: column;
    justify-content: space-around;
}

.hero-image {
    width: 300px;
    height: auto;
}

.info-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 15px;
}

.card-image{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: medium solid #3882f6;
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
}

.quote-text {
    background-color: #e5e7eb;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    text-align: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.quote-text2 {
    margin: auto;
    text-align: right;
    justify-content: end;
    font-weight: 600;
    font-size: 24px;
    max-width: 800px;
}

.cta-container {
    display: flex;
    justify-content: center;
    padding: 40px 100px;
}

.cta-content {
    display: flex;
    width: 850px;
    justify-content: center;
    padding: 50px 20px;
    background-color: #3882f6;
    border-radius: 15px;
    color: white;
    gap: 40px;
}

.cta-title {
    font-weight: 800;
}

.button {
    background-color: #3882f6;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 10px 10px;
    margin: 15px 0;
    width: 100px;
}

.button2 {
    background-color: #3882f6;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 10px 10px;
    margin: 15px 0;
    width: 100px;
    border: thin solid white;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #1f2937;
    color: white;
    height: auto;
    padding: 2px;
}