body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

.logo{
    font-weight: bold;
    color: white;
}

.nav-links {
    padding: auto;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    display: flex;
    margin: 0 10px;

}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    color: white;
    padding: 40px 30px;
}

.hero-left {
    display: flex;
    flex-basis: 350px;
    flex-direction: column;
    justify-content: space-around;
}

.hero-image {
    background-color: grey;
    width: 50%;
    height: 200px;
}

.info-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info-title {
    justify-content: center;
    flex: 1;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 15px;
}

.card-image{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: medium solid #3882f6;
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.quote-container {

}

.quote {
    background-color: #e5e7eb;
    font-weight: 300;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}



.button {
    background-color: #3882f6;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 10px 10px;
    margin: 15px 0;
    width: 100px;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #1f2937;
    color: white;
    height: auto;
    padding: 2px;
}