*{
    /* border: medium solid pink; */
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

.logo{
    font-weight: bold;
    color: white;
}

.nav-links {
    padding: auto;
    border: thin solid green;
}

ul {
    list-style-type: none;
    display: flex;
    border: thin solid grey;
    padding: 0 10px;
    /* gap: 20px; */
}

li {
    border: thin solid yellow;
    display: flex;
    margin: 0 10px;

}

/* .container {
    max-width: 50%;
    padding: 10px;
} */

/* .info{
    padding: 10px;
} */

.hero{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 10% 20%;
    border: thin solid blueviolet;
}

.card-container{
    display: flex;
    flex-direction: column;
    width: auto;
    
}

.card{
    display: flex;
    flex-direction: column;
    margin: auto;
    /* box-shadow: 5px 5px 5px; */
    padding: 5px;
    width: auto;
    justify-content: space-around;
    gap: 8px;
}

.card-image{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
    border: medium solid #3882f6;
    background-color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    gap: 10px;
}

.quote {
    background-color: #e5e7eb;
    font-weight: 300;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}
.button {
    background-color: #3882f6;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 10px 10px;
    margin: 10px;
    width: 100px;
}
.footer {
    width: 100%;
    text-align: center;
    background-color: #1f2937;
    color: white;
    height: auto;
    padding: 2px;
}